body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #c6d9ec;
    }

    .qr-code {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 36px;
      max-width: 400px;
      width: 90%;
    }

    .qr-code__image {
      max-width: 100%;
      height: auto;
      margin-bottom: 12px;
      border-radius: 8px;
    }

    .qr-code__text {
      color: #4b5563;
      text-align: center;
    }

    .qr-code__text h1 {
      font-family: 'Outfit', sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 1.35rem;
    }

    .qr-code__text p {
      opacity: 0.7;
      font-family: 'Outfit', sans-serif;
      text-align: justify;
    }